
hr {

    border: solid 1px;
}

div.vertical-line{
    width: 1px; /* Use only border style */
    height: 100%;
    float: left;
    border: 1px inset; /* This is default border style for <hr> tag */
}
div.Listing {
    background-color: #ededed;
    color: #000000;
    width: 95%;
    padding-bottom: 5px;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    margin-bottom: 5px;
    border-width:0.2px;
    border-style:solid;

}

div.Example {
    background-color: #ededed;
    color: #000000;
    opacity: 0.7;
    width: 95%;
    padding: 10px 15px;
    text-align: left;
    margin-bottom: 5px;
    border-width:2px;
    border-style:dashed dashed solid dashed;
}
div.filter{

    margin-left: 300px;
    border-left: 1px solid gray;
    padding: 1em;
}

hr{
    width: 61.6%;
    margin: 0 auto;
}
h2{
    text-align: center;
}

p:nth-child(1) {
    float: right;
}
p:nth-child(3) {
    float: right;
}
p:nth-child(4) {

    float: right;
}